/******* STOCKS ANALYSIS *******/

/******* BASE SETUP *******/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

ul,
li {
    list-style: none;
}

.attribution {
    font-size: 8px;
}

/******* NAV BAR *******/
header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navIcon {
    color: #000000;
    font-size: 250%;
    margin: 20px;
}

header nav ul li.menuItem {
    font-size: 20px;
    margin: 23px 15px;
    display: none;
}

header h1 {
    margin: 20px;
}

header nav ul li a:link,
header nav ul li a:visited {
    text-decoration: none;
    color: #121FE6;
}

header nav ul li a:hover,
header nav ul li a:active {
    color: #E6941E;
}

header nav ul.responsive li.menuItem,
header nav ul.responsive li {
    display: block;
}

.hamburgerMenu {
    color: #000000;
}


/******* HEADER *******/

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(images/4010978.jpg);
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.heroTextbox {
    margin: 5px auto 0 auto;
    padding-top: 150px;
    width: 350px;
    text-align: center;
}

.heroTextbox h2 {
    color: #ffffff;
    margin-bottom: 7px;
    width: 340px;
    text-align: center;
}

#company {
    display: inline-block;
    margin: 3px;
    width: 225px;
    padding: 2px;
}

.submitBtn, 
.searchBtn {
    padding: 7px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    background-color: #121FE6;
}

.submitBtn:hover, 
.searchBtn:hover {
    background-color: #E6941E;
    color: #000000;
    border-color: #ffffff;
}

.heroTextbox input[type=text] {
    font-size: 16px;
    padding: 3px;
}

/******* HOME PAGE *******/

.js-errorMsg {
    color: #ffff00;
    margin: 10px;
    font-size: 16px;
}

#autocompleteDiv,
#autocompleteHeader {
    display: inline-block;
    width: 300px;
    padding: 2px;
}

.autocompleteList a {
    text-decoration: none;
}

.auto-bg-color {
    background-color: #e2e2e2;
}

.autocompleteList li {
    margin-bottom: 5px;
    font-size: 16px;
}

#quoteContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px auto;
}

.priceItems {
    background-color: #e2e2e2;
    border-radius: 10px;
    padding: 15px;
    margin: 5px 0;
}

.green {
    color: #008000;
}

.red {
    color: #bb0404;
}

.resultsBox {
    padding: 0 10px;
    margin: 10px auto;
}

.resultsBox h3 {
    margin-bottom: 3px;
}

.stockTable {
    margin: 7px auto;
    background-color: #eeeda0;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

.stockTable tr {
    margin-bottom: 5px;
}

.stockTable td {
    margin-right: 10px;
    padding-right: 10px;
    border-bottom: 1px solid gray;
}

.companyInfo {
    margin: 10px auto;
    border-radius: 10px;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(images/comp-info-box.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
}

.companyInfo p {
    margin-bottom: 5px;
}

/******* EDUCATION PAGE *******/
.eduHero {
    /* background-image: linear-gradient(rgba(250, 250, 250, 0.45), rgba(250, 250, 250, 0.45)), url(images/education-header.jpg); */
    background-image: url(images/education-header.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 75vh;
}

.whatToLearnContainer {
    padding: 130px 5px 5px 5px;
    text-align: center;
}

.whatToLearnBox {
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    /* background-color: #ffffff; */
    border-radius: 10px;
    width: 80%;
}

.whatToLearnBox form {
    font-size: 18px;
}

#eduForm p {
    margin-bottom: 5px;
}

#eduForm label {
    margin-right: 10px;
}

#eduForm select {
    font-size: 18px;
}

.videosBox h2 {
    margin-left: 20px;
}

.videoList,
#newsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.videoItem,
.newsItem {
    width: 300px;
    flex: 1;
    margin: 10px auto;
    text-align: center;
}

.videoItem a,
.newsItem a {
    text-decoration: none;
}

/******* MEDIA QUERIES *******/

@media all and (min-width: 700px){

    .navIcon {
        display: none;
    }

    header nav ul li,
    header nav ul li.menuItem, 
    header nav ul.responsive li.menuItem {
        display: inline-block;
        font-size: 20px;
        margin: 23px 15px;
    }

    /******* EDUCATION PAGE *******/
    .videoList,
    #newsList {
        flex-direction: row;
    }

    .whatToLearnBox {
        width: 50%;
    }
}
