/* STOCKS & OPTIONS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

ul,
li {
    list-style: none;
}

#company,
.autocomplete {
    width: 300px;
    padding: 2px;
}

.autocomplete {
    display: inline-block;
    position: relative;
}

.green {
    color: #008000;
}

.red {
    color: #ff0000;
}

